[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/json-schema-validator"]
	path = deps/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
